/** IMPORT HERE
* ALL THE SEPARATED
* SCSS FILES
*/
/* Base */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements */
*, *::before, *::after, *:before, *:after {
  box-sizing: border-box; }

/* inputs */
input, button, textarea, select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  border-radius: 0;
  -webkit-padding-start: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em; }

/* inputs appearance (not for every input)  */
input[type=text], input[type=reset], input[type=password], input[type=search], input[type=email], input[type=tel], input[type=url], input[type=time], input[type=week], input[type=month], input[type=date], input[type=datetime], input[type=datetime-local], input[type=number],
input[type=submit], input[type=reset], input[type=color], input[type=file],
button, textarea, select {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* input color width */
input[type=color] {
  width: 1em; }

/* IE clear cross */
input::-ms-clear {
  display: none; }

/* details and summary */
details, summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* text size adjusting */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%; }

/* mark */
mark {
  background: none; }

/* Font smoothing */
*, *::before, *::after, *:before, *:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* hr */
hr {
  height: 1px;
  height: 0.0625rem;
  margin: 0;
  padding: 0; }

/* u */
u {
  text-decoration: none; }

/* th */
table th {
  text-align: left; }

/* a */
a {
  color: inherit;
  outline: none; }

/* Helpers */
@font-face {
  font-family: 'KohinoorDevanagari-Medium';
  src: url("../fonts/KohinoorDevanagari-Medium.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KohinoorDevanagari-Semibold';
  src: url("../fonts/KohinoorDevanagari-Semibold.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KohinoorDevanagari-Regular';
  src: url("../fonts/KohinoorDevanagari-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KohinoorDevanagari-Bold';
  src: url("../fonts/KohinoorDevanagari-Bold.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KohinoorDevanagari-Light';
  src: url("../fonts/KohinoorDevanagari-Light.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KohinoorDevanagari-Medium';
  src: url("KohinoorDevanagari-Medium.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

.subtitle {
  margin: 50px 20px 25px 20px;
  margin: 3.125rem 1.25rem 1.5625rem 1.25rem;
  position: relative;
  font-size: 26px;
  font-size: 1.625rem;
  font-family: Kohinoor Devanagari; }
  .subtitle::before {
    content: '';
    position: absolute;
    bottom: -10px;
    bottom: -0.625rem;
    left: 0px;
    left: 0rem;
    width: 24px;
    width: 1.5rem;
    height: 5px;
    height: 0.3125rem;
    background-color: #d9af33; }

p {
  font-family: KohinoorDevanagari-Light;
  margin-left: 20px;
  margin-left: 1.25rem;
  margin-right: 20px;
  margin-right: 1.25rem; }

/* Layout */
body {
  background-color: #211D1E;
  color: white; }

img {
  width: 50%;
  margin-left: 45%; }

p {
  font-size: 16px;
  font-size: 1rem; }
  @media (min-width: 480px) {
    p {
      font-size: 26px;
      font-size: 1.625rem; } }
  @media (min-width: 768px) {
    p {
      font-size: 20px !important;
      font-size: 1.25rem !important; } }
  @media (min-width: 1200px) {
    p {
      font-size: 25px !important;
      font-size: 1.5625rem !important;
      margin-left: 5%; } }

@media (min-width: 480) {
  .story {
    margin-bottom: 20px;
    margin-bottom: 1.25rem; } }

@media (min-width: 768px) {
  .story {
    margin-bottom: 80px;
    margin-bottom: 5rem; } }

@media (min-width: 480) {
  .story-abbey {
    margin-bottom: 60px;
    margin-bottom: 3.75rem; } }

@media (min-width: 768px) {
  .story-abbey {
    margin-bottom: 30%; } }

@media (min-width: 1200px) {
  .story-abbey {
    height: calc(100vh - 80px);
    height: calc(100vh - 5rem); } }

.story__subtitle {
  margin: 1.125rem 1.25rem 1.5625rem 1.25rem;
  position: relative;
  font-size: 26px;
  font-size: 1.625rem;
  font-family: Kohinoor Devanagari; }

.story__subtitle::before {
  content: '';
  position: absolute;
  bottom: -10px;
  bottom: -0.625rem;
  left: 0px;
  left: 0rem;
  width: 24px;
  width: 1.5rem;
  height: 5px;
  height: 0.3125rem;
  background-color: #d9af33; }

@media (min-width: 320px) {
  .story__subtitle-abbey {
    margin: 1.125rem 1.25rem 1.5625rem 1.25rem;
    position: relative;
    font-size: 26px;
    font-size: 1.625rem;
    font-family: Kohinoor Devanagari; } }

@media (min-width: 1200px) {
  .story__subtitle-abbey {
    margin: 8.125rem 1.25rem 1.5625rem 3.70rem;
    position: absolute;
    font-size: 26px;
    font-size: 1.625rem;
    font-weight: bold;
    font-family: Kohinoor Devanagari; } }

@media (min-width: 320px) {
  .story__subtitle-abbey::before {
    content: '';
    position: absolute;
    bottom: -10px;
    bottom: -0.625rem;
    left: 0px;
    left: 0rem;
    width: 24px;
    width: 1.5rem;
    height: 5px;
    height: 0.3125rem;
    background-color: #d9af33; } }

@media (min-width: 1200px) {
  .story__subtitle-abbey::before {
    display: none; } }

.story__image-abbey {
  border-radius: 30%;
  width: 45%;
  margin-top: -6%; }
  @media (min-width: 1200px) {
    .story__image-abbey {
      margin-top: 2%;
      width: auto;
      height: 82%; } }

.story__image-grain {
  position: relative;
  width: 60%;
  margin-left: 20%; }
  @media (min-width: 480px) {
    .story__image-grain {
      border-radius: 50%;
      margin-top: 10px;
      margin-top: 0.625rem; } }

.story__image-bouteilles {
  position: relative;
  width: 50%;
  margin-left: 40%;
  margin-bottom: 5%; }
  @media (min-width: 992px) {
    .story__image-bouteilles {
      width: 55%; } }

.story__text-abbey {
  position: relative;
  margin-top: -10%; }
  @media (min-width: 480px) {
    .story__text-abbey {
      margin-right: 55%;
      margin-top: -35%;
      font-size: 20px;
      font-size: 1.25rem;
      margin-bottom: 15%; } }
  @media (min-width: 768px) {
    .story__text-abbey {
      margin-right: 55%;
      margin-top: -35%;
      font-size: 20px;
      font-size: 1.25rem; } }
  @media (min-width: 1200px) {
    .story__text-abbey {
      margin-right: 55%;
      margin-top: -25%;
      font-size: 20px;
      font-size: 1.25rem; } }

.story__text-abbey_scroll {
  display: none; }
  @media (min-width: 1200px) {
    .story__text-abbey_scroll {
      margin-right: 55%;
      margin-top: -25%;
      font-size: 20px;
      font-size: 1.25rem;
      color: #d9af33;
      display: inline-block; } }

.story__text-grain_1 {
  position: relative; }
  @media (min-width: 480px) {
    .story__text-grain_1 {
      font-size: 20px;
      font-size: 1.25rem; } }

.story__text-grain_2 {
  position: relative;
  margin-left: 20px;
  margin-left: 1.25rem;
  margin-right: 20px;
  margin-right: 1.25rem; }
  @media (min-width: 480px) {
    .story__text-grain_2 {
      font-size: 20px;
      font-size: 1.25rem;
      margin-bottom: 10%; } }

.story__text-bouteille {
  position: relative;
  margin-top: -45%; }
  @media (min-width: 480px) {
    .story__text-bouteille {
      font-size: 20px;
      font-size: 1.25rem;
      margin-top: -40%; } }
  @media (min-width: 768px) {
    .story__text-bouteille {
      margin-top: -43%;
      font-size: 25px;
      font-size: 1.5625rem; } }
  @media (min-width: 992px) {
    .story__text-bouteille {
      margin-top: -43%; } }

.story__text-bouteille_litre {
  position: relative;
  margin-top: 30px;
  margin-top: 1.875rem; }
  @media (min-width: 480px) {
    .story__text-bouteille_litre {
      font-size: 20px;
      font-size: 1.25rem; } }
  @media (min-width: 768px) {
    .story__text-bouteille_litre {
      margin-top: 10%;
      font-size: 25px;
      font-size: 1.5625rem; } }

.story__text-highlight {
  font-weight: bold; }

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
  top: 0;
  left: 0; }

::-webkit-scrollbar {
  width: 8px;
  width: 0.5rem;
  height: 8px;
  height: 0.5rem; }

::-webkit-scrollbar-track {
  /* background: rgba(255,255,255,0.8);  */ }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  border-radius: 0.625rem;
  background: rgba(100, 100, 100, 0.8); }

.swiper-container {
  width: 100vw;
  height: 100vh; }
  .swiper-container section.swiper-slide {
    overflow-y: scroll;
    width: 100vw;
    height: 100vh;
    padding-top: 80px;
    padding-top: 5rem;
    background-color: #211D1E; }
    .swiper-container section.swiper-slide.accueil {
      background-color: #211D1E; }
    .swiper-container section.swiper-slide.deguster {
      background-color: red; }
    .swiper-container section.swiper-slide.brassins {
      background-color: pink; }

/* GLOBAL */
.controls_wrapper {
  position: relative;
  width: 100%;
  height: 100%; }

.controlsMobile {
  position: fixed;
  width: 100%;
  padding: 20px;
  padding: 1.25rem;
  height: 80px;
  height: 5rem;
  z-index: 2;
  background-color: #211D1E;
  /* CLOSE */
  /* OPEN */ }
  .controlsMobile .swiper-pagination-bullet {
    border: 1px solid #d9af33;
    border: 0.0625rem solid #d9af33;
    opacity: 1;
    background: none;
    width: 10px;
    width: 0.625rem;
    height: 10px;
    height: 0.625rem;
    margin-right: 3px;
    margin-right: 0.1875rem; }
  .controlsMobile .swiper-pagination-bullet-active, .controlsMobile .swiper-pagination-switch.active span {
    border: 1px solid white;
    border: 0.0625rem solid white;
    background: white;
    width: 13px;
    width: 0.8125rem;
    height: 13px;
    height: 0.8125rem; }
  .controlsMobile .controls_button {
    position: absolute;
    top: 0px;
    top: 0rem;
    right: 0px;
    right: 0rem;
    width: 40px;
    width: 2.5rem;
    /* Don't forget to change the svg size */
    height: 40px;
    height: 2.5rem; }
  .controlsMobile .controls_menuClose .swiper-pagination {
    z-index: 2;
    /* Overwrite swiper properties by default*/ }
  .controlsMobile .controls_menuClose .controls_pageTitle {
    position: absolute;
    top: 26px;
    top: 1.625rem;
    font-size: 20px;
    font-size: 1.25rem;
    color: white;
    z-index: 2; }
  .controlsMobile .controls_menuOpen {
    display: none;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: -20px;
    left: -1.25rem;
    top: -20px;
    top: -1.25rem;
    padding: 20px;
    padding: 1.25rem;
    /* background-color:$background-color; */
    background-color: rgba(33, 29, 30, 0.9);
    font-size: 20px;
    font-size: 1.25rem;
    color: #7a7778;
    z-index: 3; }
    .controlsMobile .controls_menuOpen .controls_mainPages {
      position: absolute;
      right: 60px;
      right: 3.75rem;
      top: 0px;
      top: 0rem;
      height: 40px;
      height: 2.5rem;
      width: 100px;
      width: 6.25rem; }
      .controlsMobile .controls_menuOpen .controls_mainPages li {
        height: 30px;
        height: 1.875rem;
        text-align: right;
        cursor: pointer; }
        .controlsMobile .controls_menuOpen .controls_mainPages li.active {
          color: white; }
        .controlsMobile .controls_menuOpen .controls_mainPages li:hover {
          color: white; }
        .controlsMobile .controls_menuOpen .controls_mainPages li.histoire {
          margin-right: -10px;
          margin-right: -0.625rem; }
        .controlsMobile .controls_menuOpen .controls_mainPages li.deguster {
          margin-right: -30px;
          margin-right: -1.875rem; }
        .controlsMobile .controls_menuOpen .controls_mainPages li.brassins {
          margin-right: -50px;
          margin-right: -3.125rem; }
        .controlsMobile .controls_menuOpen .controls_mainPages li span {
          margin-left: 15px;
          margin-left: 0.9375rem; }
    .controlsMobile .controls_menuOpen .controls_otherPages {
      position: absolute;
      left: 0px;
      left: 0rem;
      bottom: 30px;
      bottom: 1.875rem; }
      .controlsMobile .controls_menuOpen .controls_otherPages li {
        margin-top: 10px;
        margin-top: 0.625rem; }
      .controlsMobile .controls_menuOpen .controls_otherPages a {
        text-decoration: none; }
    .controlsMobile .controls_menuOpen.openned {
      display: block; }

.controlsDesktop {
  display: none; }

@media screen and (min-width: 1024px) {
  .controlsMobile {
    display: none; }
  .controlsDesktop {
    display: block; }
    .controlsDesktop .controls_nextPrev {
      position: absolute;
      top: 50%;
      right: 50px;
      right: 3.125rem;
      margin-top: -15px;
      margin-top: -0.9375rem; }
    .controlsDesktop .swiper-button-prev, .controlsDesktop .swiper-button-next {
      background-image: none;
      position: relative;
      display: block;
      left: 0px;
      left: 0rem;
      right: 0px;
      right: 0rem;
      width: 50px;
      width: 3.125rem;
      height: 50px;
      height: 3.125rem; }
    .controlsDesktop .swiper-button-next {
      margin-bottom: 30px;
      margin-bottom: 1.875rem; }
    .controlsDesktop .swiper-button-disabled {
      opacity: 0.5; }
    .controlsDesktop .controls_menuItems {
      z-index: 3;
      position: fixed;
      bottom: 30px;
      bottom: 1.875rem;
      width: 100%; }
    .controlsDesktop .controls_mainPages {
      width: 100%;
      font-size: 20px;
      font-size: 1.25rem;
      text-align: center;
      color: rgba(217, 175, 51, 0.5); }
      .controlsDesktop .controls_mainPages li {
        display: inline;
        height: 30px;
        height: 1.875rem;
        margin: auto 30px;
        margin: auto 1.875rem;
        cursor: pointer; }
        .controlsDesktop .controls_mainPages li.active {
          color: white; }
        .controlsDesktop .controls_mainPages li:hover {
          color: #d9af33; }
    .controlsDesktop .controls_otherPages {
      position: absolute;
      right: 35px;
      right: 2.1875rem;
      bottom: -15px;
      bottom: -0.9375rem;
      font-size: 12px;
      font-size: 0.75rem;
      text-align: center; }
      .controlsDesktop .controls_otherPages li {
        margin: 10px auto;
        margin: 0.625rem auto; }
      .controlsDesktop .controls_otherPages a {
        text-decoration: none;
        color: rgba(217, 175, 51, 0.5); }
      .controlsDesktop .controls_otherPages a:hover {
        color: #d9af33; } }

/* Pages */
.legal_wrapper {
  padding: 20px;
  padding: 1.25rem;
  width: 100%;
  height: 100%; }
  .legal_wrapper .exitButton {
    position: fixed;
    right: 20px;
    right: 1.25rem;
    top: 20px;
    top: 1.25rem;
    width: 40px;
    width: 2.5rem;
    height: 40px;
    height: 2.5rem; }
