/** IMPORT HERE
* ALL THE SEPARATED
* SCSS FILES
*/
/* Base */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* apply a natural box layout model to all elements */
*, *::before, *::after, *:before, *:after {
  box-sizing: border-box; }

/* inputs */
input, button, textarea, select {
  color: inherit;
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
  border-radius: 0;
  -webkit-padding-start: 0;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  text-index: 0;
  border: none;
  outline: none;
  background: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  line-height: 1em; }

/* inputs appearance (not for every input)  */
input[type=text], input[type=reset], input[type=password], input[type=search], input[type=email], input[type=tel], input[type=url], input[type=time], input[type=week], input[type=month], input[type=date], input[type=datetime], input[type=datetime-local], input[type=number],
input[type=submit], input[type=reset], input[type=color], input[type=file],
button, textarea, select {
  height: 1em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* input color width */
input[type=color] {
  width: 1em; }

/* IE clear cross */
input::-ms-clear {
  display: none; }

/* details and summary */
details, summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

/* text size adjusting */
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%; }

/* mark */
mark {
  background: none; }

/* Font smoothing */
*, *::before, *::after, *:before, *:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* hr */
hr {
  height: 1px;
  height: 0.0625rem;
  margin: 0;
  padding: 0; }

/* u */
u {
  text-decoration: none; }

/* th */
table th {
  text-align: left; }

/* a */
a {
  color: inherit;
  outline: none; }

/* Helpers */
@font-face {
  font-family: 'KohinoorDevanagari-Medium';
  src: url("../fonts/KohinoorDevanagari-Medium.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KohinoorDevanagari-Semibold';
  src: url("../fonts/KohinoorDevanagari-Semibold.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KohinoorDevanagari-Regular';
  src: url("../fonts/KohinoorDevanagari-Regular.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KohinoorDevanagari-Bold';
  src: url("../fonts/KohinoorDevanagari-Bold.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KohinoorDevanagari-Light';
  src: url("../fonts/KohinoorDevanagari-Light.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'KohinoorDevanagari-Medium';
  src: url("KohinoorDevanagari-Medium.otf") format("otf");
  font-weight: normal;
  font-style: normal; }

.subtitle {
  margin: 50px 20px 25px 20px;
  margin: 3.125rem 1.25rem 1.5625rem 1.25rem;
  position: relative;
  font-size: 26px;
  font-size: 1.625rem;
  font-family: Kohinoor Devanagari; }
  .subtitle::before {
    content: '';
    position: absolute;
    bottom: -10px;
    bottom: -0.625rem;
    left: 0px;
    left: 0rem;
    width: 24px;
    width: 1.5rem;
    height: 5px;
    height: 0.3125rem;
    background-color: #d9af33; }

p {
  font-family: KohinoorDevanagari-Light;
  margin-left: 20px;
  margin-left: 1.25rem;
  margin-right: 20px;
  margin-right: 1.25rem; }

/* Layout */
body {
  background-color: #211D1E;
  color: white; }

img {
  position: relative;
  width: 50%;
  margin-left: 40%; }

.story {
  margin-bottom: 0px;
  margin-bottom: 0rem; }

.story__subtitle {
  margin: 1.125rem 1.25rem 1.5625rem 1.25rem;
  position: relative;
  font-size: 26px;
  font-size: 1.625rem;
  font-family: Kohinoor Devanagari; }

.story__subtitle::before {
  content: '';
  position: absolute;
  bottom: -10px;
  bottom: -0.625rem;
  left: 0px;
  left: 0rem;
  width: 24px;
  width: 1.5rem;
  height: 5px;
  height: 0.3125rem;
  background-color: #d9af33; }

@media (min-width: 422px) {
  .story__image-abbey {
    margin-top: 10px;
    margin-top: 0.625rem;
    width: 50%;
    margin-left: 40%; } }

.story__image-grain {
  position: relative;
  width: 50%;
  margin-left: 40%; }

.story__image-bouteille {
  position: relative;
  width: 50%;
  margin-left: 40%; }

.story__text-abbaye {
  position: relative;
  margin-top: -40px;
  margin-top: -2.5rem; }
  @media (min-width: 422px) {
    .story__text-abbaye {
      margin-left: 20px;
      margin-left: 1.25rem;
      margin-right: 100px;
      margin-right: 6.25rem;
      margin-top: -190px;
      margin-top: -11.875rem; } }

.story__text-grain_1 {
  position: relative; }

.story__text-grain_2 {
  position: relative;
  margin-left: 20px;
  margin-left: 1.25rem;
  margin-right: 20px;
  margin-right: 1.25rem; }

.story__text-bouteille {
  position: relative;
  margin-top: -150px;
  margin-top: -9.375rem; }

.story__text-bouteille_litre {
  position: relative;
  margin-top: 30px;
  margin-top: 1.875rem; }

.story__text-highlight {
  font-weight: bold; }
