@include font-face(Kohinoor, '../fonts/KohinoorDevanagari-Medium', normal);
@include font-face(Kohinoor, '../fonts/KohinoorDevanagari-Semibold', bold);
@include font-face(Kohinoor, '../fonts/KohinoorDevanagari-Regular', normal);
@include font-face(Kohinoor, '../fonts/KohinoorDevanagari-Bold', bolder);
@include font-face(Kohinoor, '../fonts/KohinoorDevanagari-Light', lighter);


html {
  font-family: Kohinoor;
}

.subtitle {
  margin: 50px 20px 25px 20px;
  position: relative;
  font-size: 26px;
  font-weight: lighter;
  &::before {
    content: '';
    position: absolute;
    bottom: -10px; left: 0px;
    width: 24px;
    height: 5px;
    background-color: $color-yellow;
  }
}

p {
  font-family: Kohinoor;
  margin-left: 20px;
  margin-right: 20px;

}