.brassins{
    background-color:#211d1e !important;
    .caroussel{
        ul{
            // —— Bottles ——
            li.beer{
                opacity: 0;
                position: absolute;
                left:0;
                transition-property: transform opacity;
                transition-duration: 0.8s;
                .title{
                    transition-property: opacity;
                    transition-duration: 0.8s;
                    padding : 40px 1.25rem 0 1.25rem;
                    opacity: 0;
                    h1{
                        font-size: 32px;
                        color:white;
                        font-weight: 900;
                        &:after{
                            content:"";
                            height: 5px;
                            width:30px;
                            background-color: #d8af33;
                            margin-top:10px;
                            display:block;
                        }
                    }
                }
                .bottles{
                    height:200px;
                    display: block;
                    padding:20px 0;
                    .background{
                        background-color: black;
                        height:180px;
                        margin:10px 0;
                        width:100vw;
                        position: relative;
                        .item{
                            position:absolute;
                            margin-top:-10px;
                            img{
                                position: absolute;
                                &.main{
                                    height: 200px;
                                    z-index:2;
                                    left: 100vw;
                                    transition-property: transform opacity left;
                                    transition-duration: 0.5s;
                                    transform: scale(0.8);
                                }
                                &.back-img{
                                    transition-property: opacity;
                                    transition-duration: 0.8s;
                                    height:120px;
                                    margin-top:32px;
                                    left: 25vw;
                                    z-index:1;
                                    opacity: 0;
                                }
                            }
                        }
                    }
                }
                .icons{
                    transition-property: opacity;
                    transition-duration: 0.8s;
                    opacity: 0;
                    padding : 40px 1.25rem 0 1.25rem;
                    ul{
                        text-align: center;
                        li{
                            width:24%;
                            display: inline-block;
                            .round{
                                float:left;
                                margin: 0 10px;
                                border : 2px solid #777576;
                                height: 60px;
                                width: 60px;
                                text-align: center;
                                border-radius: 200px;
                                img{
                                    max-height:70%;
                                    max-width:70%;
                                    margin: 35% auto;
                                }
                            }
                        }
                    }
                }
                .description{
                    transition-property: opacity;
                    transition-duration: 0.8s;
                    opacity: 0;
                    padding : 40px 1.25rem 80px 1.25rem;
                    p{
                        color:white;
                    }
                }
            }
            // —— Hidden Previous bottles ——
            li.beer.active{
                opacity: 1;
                .bottles{
                    .background{
                        .item{
                            img{
                                &.main{
                                    left: -20vw;
                                }
                            }
                        }
                    }
                }
            }
            // —— Previous bottles ——
            li.beer.active + li.beer{
                opacity: 1;
                .bottles{
                    .background{
                        .item{
                            img{
                                &.main{
                                    z-index:2;
                                    opacity: 0.6;
                                    left: -5vw;
                                }
                            }
                        }
                    }
                }
            }
            // —— Active bottle ——
            li.beer.active + li.beer + li.beer{
                opacity: 1;
                .title{
                    opacity: 1;
                }
                .bottles{
                    .background{
                        .item{
                            img{
                                &.main{
                                    z-index:3;
                                    transform: scale(1);
                                    opacity: 1;
                                    left: 42vw;
                                }
                                &.back-img{
                                    opacity: 1;
                                }
                            }
                        }
                    }
                }
                .icons{
                    opacity: 1;
                }
                .description{
                    opacity: 1;
                }
            }
            // —— Next bottles ——
            li.beer.active + li.beer + li.beer + li.beer{
                opacity: 1;
                .bottles{
                    .background{
                        background:none;
                        .item{
                            img{
                                &.main{
                                    z-index:2;
                                    opacity: 0.6;
                                    left: 87vw;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}