$font-stack: " Kohinoor;", "Helvetica Neue", Helvetica, Arial, sans-serif;


.contact_wrapper {
    font-size: 22px;
    background-color: $background-color;
    color: white;
    font-family: $font-stack;
    padding: 20px;
    width: 100%;
    height: 100%;
    overflow: scroll;

    .exitButton {
        position: fixed;
        right: 20px;
        top: 20px;
        width: 40px;
        height: 40px;
    }
}

/**
* Title
*/
h2.subtitle {
    font-size: 1.7rem;
    font-weight: 800;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: .625rem;
    margin-left: 1rem;
    text-decoration : none;
}

/**
* Inputs
*/
form{

    .form__group {
        display: block;
        border: 1px solid;
        border-radius: 10px;
        opacity: 0.51;
    }  

    .form__statut{
        margin: 2rem;
    }

    .form__data{
        margin: 0.5rem auto;
    }
    .form__submit{
        margin: 0.5rem auto;
    }
    .form__correct{
        margin: 0.5rem auto;
    }

    @media(min-width: 760px) {

        .form__group {
            display: block;
            border: 1px solid;
            border-radius: 10px;
            opacity: 0.51;
        }  

        .form__statut{
            margin: 2rem 10rem;
        }

        .form__data{
            margin: 0.5rem 5rem;
        }
        .form__submit{
            margin: 1.5rem 9rem;
        }
        .form__correct{
            margin: 0.5rem 5rem;
        }

    }

    @media (min-width: 860px) {

        .form__group {
            display: block;
            border: 1px solid;
            border-radius: 10px;
            opacity: 0.51;
        }  

        .form__statut{
            margin: 5rem 50rem;
        }

        .form__data{
            margin: 5rem 40rem;
        }
        .form__submit{
            margin: 1.5rem 50rem;
        }
        .form__correct{
            margin: 5rem 40rem;
        }

    }


}

#form__statut-individual__input, 
#form__statut-professional__input{
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.form__statut-individual__label,
.form__statut-professional__label, 
{
    margin: 0.5rem auto;
    width: 100%;
    padding: 1.5rem 1rem;

}

.form__name__input,
.form__email__input{
    margin: 0.5rem auto;
    width: 100%;
    padding: 1.5rem 1rem;
}

.form__message__textarea{
    margin: 0.5rem auto;
    width: 100%;
    padding: 1.5rem 1rem;
    min-height: 10rem;
}

.form__statut-individual__input:checked + .form__statut-individual__label, 
.form__statut-professional__input:checked + .form__statut-professional__label{
    opacity: 1;
    border: 2px solid;
}

.form__name__input:focus, 
.form__email__input:focus, 
.form__message__textarea:focus
{
    opacity: 1;
}

#form__submit__input{
    margin: 1.5rem auto;
    width: 100%;
    border: none;
    font-weight: 800;
    background-color: $color-yellow;
    padding: 1rem 0 1rem 0;
    height: 3em;
    white-space: nowrap;
    opacity: 1;
}

/**
* Validate Form
*/
form{
    .correct {
        border: 1px solid green;
    }

    .incorrect {
        border: 1px solid red;
    }
}


.tooltip {
    font-size: 16px;
    display: inline-block;
    margin: 1rem auto;
    padding: 0.2rem 0.4rem;
    width: calc(100% - 2rem);
    border: 1px solid red;
    background-color: transparent;
    color: red;
    border-radius: 7px;
}

.tooltip__correct {
    font-size: 16px;
    display: none;
    margin: 1rem auto;
    padding: 0.2rem 0.4rem;
    width: calc(100% - 2rem);
    border: 1px solid green;
    background-color: transparent;
    color: green;
    border-radius: 7px;
}