.deguster .wrapper {
	width:100%;
	height:100%;
	padding : 40px 1.25rem 0 1.25rem;
	@media screen and (max-width: 400px) {
        padding-top: 0;
    }
}

.deguster .wrapper form {
	width:100%;
	margin-bottom: 2%;
}

.input-box {
    position: relative;
	border: 1px solid #625F60;
	border-radius: 5px;
	padding: 15px;
	width:60%;
	height:8%;
	@media screen and (max-width: 400px) {
        width: 100%;
    }
}

.input-box input {
    width: calc(100% - 20px);
}

.input-box button {
    position: absolute;
    right: 10px;
    top: 13px;
    width: 20px;
    height: 20px;
    background: url('../images/search.svg');
    background-size: 20px;
}

input::-webkit-input-placeholder {
	color: #625F60;
	font-size:20px;
	font-family: sans-serif;
}
 
input:-moz-placeholder { /* Firefox 18- */
	color: #625F60;
	font-size:20px;
	font-family: sans-serif;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
	color: #625F60;
	font-size:20px;
	font-family: sans-serif;  
}
 
input:-ms-input-placeholder {  
	color: #625F60; 
	font-size:20px;
	font-family: sans-serif; 
}

.deguster .wrapper .infoWindow {
	width: 35%;
	height:60%;
	float:left;
	margin-right:2%;
	@media screen and (max-width: 400px) {
        display:block;
        width: 100%;
        height:20%;
    }
}

.deguster .wrapper .swiper-no-swiping {
	height: 60%;
	width: 55%;
	display: inline-block;
	@media screen and (max-width: 400px) {
        display:block;
        width: 100%;
    }
}

.deguster .wrapper .swiper-no-swiping #map {
	height: 100%;
	width: 100%;
}

.deguster_title{
    padding : 40px 1.25rem 0 1.25rem;
    margin-bottom: 20px;
    h1{
        font-size: 32px;
        color:white;
        font-weight: 900;
        &:after{
            content:"";
            height: 5px;
            width:30px;
            background-color: #d8af33;
            margin-top:10px;
            display:block;
        }
    }
}

.deguster_facebook,
.deguster_twitter {
    color: white;
    padding: 5px 10px;
    min-height: 40px;
    font-weight: bold;
    cursor: pointer;
}

.deguster_facebook {
    background: #3c5a96;
}

.deguster_twitter {
    background: #2a87eb;
}

.ambassador-infos {
    display: none
}

.ambassador-infos.active {
    display: block;
}
