body {
  background-color: $background-color;
  color: white;
}

.accueil__logo img {
    margin: $mobile-logo-margin;
    width: $mobile-logo-width;
}

.accueil__presentation p {
    margin-top: $margin-top-presentation;
    font-size: $font-size-presentation;
    font-family: $font-family-presentation;
}

.accueil__presentation--bottles img {
    margin: auto;
    margin-top: 80px;
    width: 35%;
    display: flex;
}

.accueil__presentation--discover {
    background-color: $color-yellow;
    width: 85%;
    margin: auto;
    padding: 8px;
    border-radius: 5px;
}

.button-flex, .flex-item:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.accueil__presentation--discover img {
    width: $width-button-icon;
}

.accueil__presentation--discover a {
    text-decoration: none;
}

.accueil__presentation--discover p {
    margin-top: 0;
    margin-left: 0;
    font-size: $font-size-button;
    font-family: $font-family-button;
}
