body {
  background-color: $background-color;
  color: white;
}

.accueil__logo img {
    margin: $mobile-logo-margin;
    width: $mobile-logo-width;
}

.accueil__presentation {
    background-size: $background-size;
    background-image: url("/../images/abbey_mobile.jpg");
    background-repeat: no-repeat;
}

.accueil__presentation p {
    margin-top: $margin-top-presentation;
    font-size: $font-size-presentation;
    font-family: $font-family-presentation;
    line-height: $line-height-presentation;
}

.accueil__presentation--text {
    background: linear-gradient(to bottom, rgba(33, 29, 30, 1), rgba(33, 29, 30, 0.1));
}

.accueil__presentation--bottles {
    background: linear-gradient(to bottom, rgba(33, 29, 30, 0.1), rgba(33, 29, 30, 1));
}

.accueil__presentation--bottles img {
    margin: auto;
    margin-top: $margin-top-bottles;
    width: $bottles-width;
    display: flex;
}

.accueil__presentation--discover {
   background: linear-gradient(to bottom, rgba(33, 29, 30, 1), rgba(33, 29, 30, 0.1)); 
}

.button-flex {
    background-color: $color-yellow;
    width: $button-discover-width;
    margin: auto;
    padding: $button-discover-padding;
    border-radius: $button-discover-border-radius;
}

.button-flex, .flex-item:first-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.accueil__presentation--discover img {
    width: $width-button-icon;
}

.accueil__presentation--discover a {
    text-decoration: none;
}

.accueil__presentation--discover p {
    margin-top: 0;
    margin-left: 0;
    font-size: $font-size-button;
    font-family: $font-family-button;
}
