body {
  background-color: $background-color;
  color: white;
}

img{
  position: relative;
  @media (min-width: 320px) {
    width: 50%;
    margin-left: 40%;
  }
}


#photo-maison{
  @media (min-width: 422px) {
    margin-top: 10px;
    width: 50%;
    margin-left: 40%;
  }
}

.histoire-section1{
  @media (min-width: 320px) {
    margin-bottom: 40px;
  }
}
.title-1{
  @media (min-width: 320px) {
  }
}

#histoire-text1{
  @media(min-width: 320px) {
    position: relative;
    margin-top: -40px;
  }
  @media(min-width: 422px) {
    margin-left: 20px;
    margin-right: 100px;

    margin-top: -190px;
  }
}

#histoire-text1-2 {
  @media(min-width: 320px) {
    display: none;
  }
  @media(min-width: 422px) {
    display: block;
    position: relative;
    margin-top: 100px;
  }
}

.histoire-section2 {
  @media (min-width: 320px) {
    margin-bottom: 40px;
  }
}
.title-2 {
  @media(min-width: 320px) {
    margin-bottom: 30px;
  }
}
#histoire-text2 {
  @media(min-width: 320px) {
    position: relative;
  }
}

#histoire-text3 {
  @media(min-width: 320px) {
    position: relative;
    margin-top: -120px;
    margin-left: 20px;
    margin-right: 20px;
  }
}
