body{
  overflow: hidden;
  width:100vw;
  height:100vh;
  display: block;
  position: relative;
  top:0;
  left:0;
}
ul.main-menu {
  /* position: fixed; */
  position: absolute;
  top:0;
  left:0;
  height:40px;
  color:black;
  display: block;
  width:100vw;
  z-index:20;
  li {
    display: inline;
    border: 1px solid black;
    cursor: pointer;
    &.active {
      border-color: white;
    }
  }
}
.swiper-container {
    width: 100vw;
    height: 100vh;
}     
section.swiper-slide{
  overflow-y: scroll;
  width:100vw;
  height:100vh;
  padding-top: 50px;
  &.accueil{
      background-color:green;
  }
  &.histoire{
    background-color:blue;
  }
  &.deguster{
      background-color:red;
  }
  &.brassins{
      background-color:yellow;
  }
  &.contact{
      background-color:purple;
  }
}
