body{
  overflow: hidden;
  width:100vw;
  height:100vh;
  display: block;
  position: relative;
  top:0;
  left:0;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    /* background: rgba(255,255,255,0.8);  */
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(100,100,100,0.8);  
}


.swiper-container {
  width: 100vw;
  height: 100vh;

  section.swiper-slide{
    overflow-y: scroll;
    width:100vw;
    height:100vh;
    padding-top: 50px;
    &.accueil{
        background-color:$background-color;
    }
    &.histoire{
      background-color:blue;
    }
    &.deguster{
        background-color:red;
    }
    &.brassins{
        background-color:pink;
    }
    &.contact{
        background-color:purple;
    }
  }
}

.swiper-controls {
  .swiper-button-next {
    position: fixed;
    right: 30px;
    top: 30px;
    pointer-events: visible;
    opacity: 1;
    background-image: none;
    width: 40px; /* Don't forget to change the svg size */
    height: 40px;
    svg:first-child {
      display: block;
    }
    svg:last-child {
      display: none;
    }    
  }

  .swiper-button-next.pressed {
    svg:first-child {
      display: none;
    }
    svg:last-child {
      display: block;
    }
  }

  /* .swiper-button-next:hover ul.main-menu {
    display: block;
  }
   */
  ul.main-menu {
    display: none;
    /* position: fixed; */
    position: absolute;
    top:0;
    right:80px;
    height:40px;
    color:black;
    width:100px;
    z-index:20;
    &.pressed{
      display: block;
    }
    li {
      /* display: inline; */
      height: 25px;
      border: 1px solid black;
      cursor: pointer;
      &.active {
        border-color: white;
      }
      &:hover {
        border-color: grey;
      }
    }
  }

  .swiper-pagination {
    position: fixed;
    top: 10px;
    left: 10px;
    .swiper-pagination-bullet {
      border: 1px solid $color-yellow;
      opacity: 1;
      background: none;
      width: 10px;
      height: 10px;
      margin-right: 3px;
    }
    .swiper-pagination-bullet-active {
      border: 1px solid white;
      background: white;
      width: 13px;
      height: 13px;
    }
  }
}
